<configuration>
	<connectionStrings>
		<add name="SisAgencia"
             connectionString="Server=localhost\SISAGENCIA;Database=SisAgencia;Integrated Security=True ; TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	 <appSettings>
		<add key="FechaUltimoEnvio" value="" />
		<add key="CorreosEnviadosHoy" value="" />
	</appSettings>
</configuration>
